# Node
node_modules/
npm-debug.log*
yarn-error.log
.pnpm-debug.log

# Next.js
.next/
out/
dist/

# Build / cache
.turbo/
.cache/
build/

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Logs
logs/
*.log

# OS files
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo

# Coverage
coverage/
